/*Desktop Version*/
@media only screen and (min-width: 600px) {
    /*alle sektioner*/

    body {
        margin-left: 100px;
        margin-right: 100px;
        background-color: #E7C6C7;
    }

    img {
        width: 100%;
        height: auto;
    }

    a {
        font-family: 'Cormorant', serif;
        font-weight: 300;
        font-style: italic;

        font-size: 1.5rem;
        color: black;
    }

    #menu {
        margin-top: 30px;
        margin-bottom: 30px;
        word-spacing: 10px;
        text-align: right;
    }

    #menu li {
        display: inline-block;
    }

    #menu a {
        font-size: 20px;
        font-family: 'Cormorant', serif;
        font-weight: 300;
        font-style: normal;
        text-align: right;
        word-spacing: 10px;
        text-decoration-line: none;
        color: black;
    }

    #menuknap {
        display: none;
        font-family: muli, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-weight: 200;
        margin-left: 5vw;
    }

    #menu {
        list-style-type: none;
    }

    h1 {
        font-family: 'Cormorant', serif;
        font-weight: 300;
        font-style: normal;
        font-size: 4rem;

        color: black;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0;

    }

    h2 {
        font-family: muli, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        color: black;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }

    p {
        font-family: muli, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: black;
        font-size: 1rem;
        line-height: 1.6;
    }

    /*footer about side*/
    #footer_about {
        margin-top: 120px;
    }

    /*index footer*/
    #footer {
        margin-top: 30px;
    }

    /*index forside*/

    #splash_portfolio h1 {
        font-family: 'Cormorant', serif;
        font-weight: 300;
        font-style: italic;
        color: black;
        font-size: 9.5rem;
        text-align: left;
    }

    #splash_portfolio {
        display: grid;
        grid-template-columns: 4fr 2fr;
        grid-column-gap: 0px;
    }

    #splash_portfolio .col_narrow p {
        font-family: muli, sans-serif;
        font-weight: 300;
        font-style: normal;
        text-align: right;
        margin-top: 382px;
        font-size: 2rem;
        margin-bottom: 0px;
    }

    /*om mig*/

    #om_mig {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 20px;
    }

    #om_mig .col_text h1 {
        text-align: left;
        font-style: italic;
        margin-top: 0;
        font-size: 8rem;
    }

    /* portfolio heading titel */

    #titel h1 {
        text-align: center;
        font-size: 9rem;
        font-style: italic;
    }

    /*tema 2*/

    #tema_2 .section_wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 40px;
    }

    #tema_2 .col_wide {
        display: grid;
        flex-direction: column;
        justify-content: space-between;
    }

    #tema_2 .col_narrow {
        display: grid;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #tema_2 p {
        text-align: left;
        margin-bottom: 16px;
    }

    /*tema 3*/

    #tema_3 .section_wrapper {
        display: grid;
        grid-row-gap: 40px;
    }

    #tema_3 a {
        font-size: 1.5rem;
        color: black;
    }

    /*Ide*/
    #tema_3 .row_1 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1.5fr;
        column-gap: 40px;
    }

    /*Prototype*/

    #tema_3 .row_2 {
        display: grid;
        grid-template-columns: 1.5fr 0.5fr;
        column-gap: 40px;
    }

    #tema_3 .row_2 .col_wide {
        margin-right: 100px;
    }

    /*Pitch*/
    #tema_3 .row_3 {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        column-gap: 40px;
    }

    /*tema 4*/

    #tema_4 .section_wrapper {
        display: grid;
        grid-row-gap: 40px;
        grid-column-gap: 10px;
    }

    #tema_4 .billede_tekst h2 {
        margin-top: 10px;
    }

    #tema_4 p {
        text-align: left;
    }

    #tema_4 .row {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    /*tema 5*/

    #tema_5 .section_wrapper {
        display: grid;
        grid-row-gap: 40px;
    }

    #tema_5 h2 {
        padding-top: 20px;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 600px) {
    .hidden {
        opacity: 0;
        transform: translateX(-100%);
    }

    #menuknap {
        display: inline-block;
        font-size: 7vw;
    }

    #menu {
        list-style-type: none;
        transition: transform .3s;
        transform-origin: top left;
    }

    body {
        margin-left: 10px;
        margin-right: 10px;
        background-color: #E7C6C7;
    }

    img {
        width: 100%;
        height: auto;
    }

    nav {
        font-size: 20px;
        font-family: muli, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: black;
        /*    margin-left: 65vw;*/
        text-align: right;
        margin-top: 30px;
        margin-bottom: 30px;
        word-spacing: 10px;

    }

    nav a {
        font-family: 'Cormorant', serif;
        font-weight: 300;
        font-style: italic;
        text-decoration-line: none;
        color: black;

    }

    #titel h1 {
        text-align: center;
        font-size: 6rem;
        font-style: italic;
    }

    h1 {
        font-family: 'Cormorant', serif;
        font-weight: 300;
        font-style: normal;
        font-size: 4rem;
        color: black;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0;
        text-align: left;
    }

    h2 {
        font-family: muli, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        color: black;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }

    p {
        font-family: muli, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: black;
        font-size: 1rem;
        line-height: 1.6;
    }

    a {
        font-family: 'Cormorant', serif;
        font-weight: 300;
        font-style: italic;
        /*
       font-family: degular-text, sans-serif;
        font-weight: 700;
*/
        font-size: 1.5rem;
        color: black;
    }

    /*footer*/

    /*index footer*/
    #footer {
        margin-top: 30px;
    }

    #splash_portfolio h1 {
        font-family: 'Cormorant', serif;
        font-weight: 300;
        font-style: italic;
        font-size: 6rem;
        text-align: left;
        margin-top: 0;
    }


    /*index forside*/

    #splash_portfolio {
        display: grid;
        background-size: cover;
        grid-template-columns: 1fr;

    }


    #splash_portfolio .section_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;

    }

    #splash_portfolio .col_narrow p {
        text-align: left;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    #splash_portfolio .col_narrow a {
        font-size: 1.2rem;
    }

    /*om mig*/

    #om_mig {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
    }


    #om_mig p {
        text-align: left;
    }

    #om_mig .col_billede {
        height: auto;
    }

    #om_mig .col_text h1 {
        text-align: center;
        font-size: 5rem;
        font-style: italic;
    }

    /*tema 2*/

    #tema_2 .section_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 40px;
    }

    #tema_2 .col_wide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #tema_2 .col_narrow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #tema_2 p {
        text-align: left;
        margin-bottom: 10px;
    }

    #tema_2 h2 {
        margin-top: 10px;
    }

    /*tema 3*/

    #tema_3 .section_wrapper {
        grid-template-columns: 1fr;
        display: grid;
        grid-row-gap: 40px;
    }

    /*Ide*/
    #tema_3 .row_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #tema_3 h2 {
        margin-top: 10px;
    }

    /*Prototype*/

    #tema_3 .row_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /*Pitch*/
    #tema_3 .row_3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /*tema 4*/

    #tema_4 .section_wrapper {
        display: grid;
        grid-row-gap: 40px;
        grid-column-gap: 10px;
        grid-template-columns: 1fr;
        width: 100%;
    }

    #tema_4 h1 {
        font-size: 4rem;
    }

    #tema_4 .billede_tekst p {
        text-align: left;
    }

    #tema_4 .row {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    #tema_4 .col_wide img {
        width: 100%;
        height: 100%;
    }

    /*tema 5*/

    #tema_5 h2 {
        margin-top: 20px;
    }

    #tema_5 .section_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
        justify-content: space-between;
        grid-row-gap: 40px;
        grid-column-gap: 20px;
    }
}
