@font-face {
    font-family: 'mistoregular';
    src: url('misto-webfont.woff2') format('woff2'),
        url('misto-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'konstant_groteskregular';
    src: url('konstantgrotesk-webfont.woff2') format('woff2'),
        url('konstantgrotesk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Desktop*/
@media only screen and (min-width: 600px) {
    /*alle sektioner*/

    body {
        margin-left: 100px;
        margin-right: 100px;
        background-color: #BAB0EC;
    }

    img {
        width: 100%;
        height: auto;
    }

/*
    iframe {
        width: auto;
        height: auto;
    }
*/

    a {
       font-family: degular-text, sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: #ffe5e3;
    }

    #menu {
        margin-top: 30px;
        margin-bottom: 30px;
        word-spacing: 10px;
        text-align: right;
    }

    #menu li {
        display: inline-block;
    }

    #menu a {
        font-size: 20px;
        font-family: 'konstant grotesk';
        text-align: right;
        word-spacing: 10px;
        text-decoration-line: none;
        color: #ffe5e3;
    }

    #menuknap {
        display: none;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 200;
        margin-left: 5vw;
    }

    #menu {
        list-style-type: none;
    }

    h1 {
        font-family: 'konstant grotesk';
        font-size: 4rem;

        color: #ffe5e3;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0;
        text-align: center;
    }

    h2 {
        font-family: 'konstant grotesk';
        font-size: 2rem;
        color: #ffe5e3;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }

    p {
        font-family: degular-text, sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #ffe5e3;
        font-size: 1rem;
    }

    /*footer*/
    #footer_about {
        margin-top: 120px;
    }

    /*index footer*/
    #footer {
        margin-top: 30px;
    }

    /*index forside*/

/*
    #splash_portfolio {
        display: grid;
        height: 600px;
        width: 1240px;
        background-size: cover;
        background-position: 15% 10%;
        grid-template-columns: 2fr 1fr;
    }
*/

    #splash_portfolio h1 {
        font-family: "misto";
        font-size: 8.5rem;
        text-align: left;
    }

    #splash_portfolio {
        display: grid;
        grid-template-columns: 4fr 2fr;
        grid-column-gap: 0px;
    }

    #splash_portfolio .col_narrow p {
        text-align: left;
        margin-top: 348px;
        font-size: 2rem;
        margin-bottom: 0px;
    }

    /*om mig*/

    #om_mig {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 20px;
        max-height: 500px;
    }

    #om_mig .col_text h1 {
        text-align: left;
    }

    /*tema 2*/

    #tema_2 .section_wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 40px;
    }

    #tema_2 .col_wide {
        display: grid;
        flex-direction: column;
        justify-content: space-between;
    }

    #tema_2 .col_narrow {
        display: grid;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #tema_2 p {
        text-align: left;
        margin-bottom: 16px;
    }

    /*tema 3*/

    #tema_3 .section_wrapper {
        display: grid;
        grid-row-gap: 40px;
    }
    #tema_3 a {
        font-size: 1.5rem;
        color: #ffe5e3;
    }

    /*Ide*/
    #tema_3 .row_1 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1.5fr;
        column-gap: 40px;
    }

    #tema_3 .row_1 img {
/*
        width: 400px;
        height: 430px;
*/
    }

    /*Prototype*/

#tema_3 .row_2 {
        display: grid;
        grid-template-columns: 1.5fr 0.5fr;
        column-gap: 40px;
    }

/*
    #tema_3 .row_2 img{
        width: 299px;
        height: 500px;
    }
*/

    #tema_3 .row_2 .col_wide{
        margin-right: 100px;
    }

    /*Pitch*/
    #tema_3 .row_3 {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        column-gap: 40px;
    }

    #tema_3 .col_wide img {
/*
        width: 425px;
        height: 568px;
*/
    }

    /*tema 4*/

    #tema_4 .section_wrapper {
        display: grid;
        grid-row-gap: 40px;
        grid-column-gap: 10px;
    }

    #tema_4 .billede_tekst h2 {
        margin-top: 10px;
    }

    #tema_4 p {
        text-align: left;
    }

    #tema_4 .row {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    /*tema 5*/

    #tema_5 .section_wrapper{
        display: grid;
        grid-row-gap: 40px;
    }

    #tema_5 h2{
        padding-top: 20px;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 600px) {
    .hidden {
        opacity: 0;
        transform: translateX(-100%);
    }

    #menuknap {
        display: inline-block;
        font-size: 7vw;
    }

    #menu {
        list-style-type: none;
        transition: transform .3s;
        transform-origin: top left;
    }

    body {
        margin-left: 10px;
        margin-right: 10px;
        background-color: #BAB0EC;
    }

    img {
        width: 100%;
        height: auto;
    }

    nav {
        font-size: 20px;
        font-family: 'konstant grotesk';
        color: #ffe5e3;
        /*    margin-left: 65vw;*/
        text-align: right;
        margin-top: 30px;
        margin-bottom: 30px;
        word-spacing: 10px;

    }

    nav a {
        text-decoration-line: none;
        color: #ffe5e3;

    }

    h1 {
        font-family: 'konstant grotesk';
        font-size: 4rem;
        color: #ffe5e3;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0;
        text-align: center;
    }

    h2 {
        font-family: 'konstant grotesk';
        font-size: 2rem;
        color: #ffe5e3;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
    }

    p {
        font-family: degular-text, sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #ffe5e3;
        font-size: 1rem;
    }

    a{
       font-family: degular-text, sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: #ffe5e3;
    }

    /*footer*/

    /*index footer*/
    #footer {
        margin-top: 30px;
    }

    #splash_portfolio h1 {
        font-family: "misto";
        font-size: 5rem;
        text-align: left;
        margin-top: 0;
    }


    /*index forside*/

    #splash_portfolio {
        display: grid;
        background-size: cover;
        grid-template-columns: 1fr;

    }


    #splash_portfolio .section_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;

    }

    #splash_portfolio .col_narrow p {
        text-align: left;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    #splash_portfolio .col_narrow a{
        font-size: 1.2rem;
    }

    /*om mig*/

    #om_mig {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
    }


    #om_mig p {
        text-align: center;
    }

    #om_mig .col_billede {
        height: auto;
    }

    #om_mig .col_text h1 {
        text-align: center;
        font-size: 3rem;
    }

    /*tema 2*/

    #tema_2 .section_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 40px;
    }

    #tema_2 .col_wide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #tema_2 .col_narrow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #tema_2 p {
        text-align: left;
        margin-bottom: 10px;
    }

    #tema_2 h2 {
        margin-top: 10px;
    }

    /*tema 3*/

    #tema_3 .section_wrapper {
        grid-template-columns: 1fr;
/*        grid-auto-rows: 1fr;*/
        display: grid;
/*
        display: flex;
        flex-direction: column;
        justify-content: space-between;
*/
        grid-row-gap: 40px;
    }

    /*Ide*/
    #tema_3 .row_1 {
/*        display: grid;*/
/*
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
*/
/*        column-gap: 40px;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #tema_3 h2 {
        margin-top: 10px;
    }
    /*Prototype*/

    #tema_3 .row_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
/*        display: grid;*/
/*
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        column-gap: 40px;
*/

    }

    /*Pitch*/
    #tema_3 .row_3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
/*        display: grid;*/
/*
        grid-template-columns: 1fr;
        column-gap: 40px;
*/
    }

    /*tema 4*/

    #tema_4 .section_wrapper {
        display: grid;
        grid-row-gap: 40px;
        grid-column-gap: 10px;
        grid-template-columns: 1fr;
        width: 100%;
    }

    #tema_4 h1 {
        font-size: 3rem;
    }

    #tema_4 .billede_tekst p {
        text-align: left;
    }

    #tema_4 .row {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    #tema_4 .col_wide img {
        width: 100%;
        height: 100%;
    }

    /*tema 5*/

 #tema_5 h2{
        margin-top: 20px;
    }

    #tema_5 .section_wrapper{
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
        justify-content: space-between;
        grid-row-gap: 40px;
        grid-column-gap: 20px;
    }


}

